/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;

  height: 100%;
  width:100%;

  display: flex;
  flex-grow: 5;
  flex-direction: column;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */

.appbar {

  display: flex;
  
  padding: 0.5rem 0 0.5rem 0.4rem;
  align-items: center;

  background-color: #f7d736;
  border: none;

  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
}

.logo {

  width: 4rem;
  height: 2.5rem;
}

.form_tags_all{
  position: absolute;
  right: 0.2rem;
}

.tags_header{
  display: flex;
  margin-right: 0.3;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: small;
}

.subtitle {

  padding-left: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

.container{
  display:flex;
  flex-direction: column;
  height: 83%;

  justify-content: flex-start;
  align-items: center;

}

.form-card {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  width: 35%; 
  height: 21%;

  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);

  border-radius: 0.2rem;
  padding: 0.5rem;

  margin-top: 1rem;
}

.form-card-title, .form-card-tag {

  display: flex;

  padding: 0.1rem 0 0.1rem 0.3rem;

  font-weight: 400;
  font-size:small;
  border: none;

  height: 2.5rem;

  margin: 0.1rem 0;

  font-family: 'Roboto', sans-serif;
}

.form-card-tag {
  font-size: small;
  margin-top: 0.1rem;
}

.autoresize {
  
  display: flex;
  min-height: 30px;

  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: small;

  padding: 0.3rem 0 0 0.3rem;
  margin-bottom: 0.1rem;
  margin-top: 0.3rem;
  border: none;
}

.btn {
  height: 45%;
 
  border-radius: 2px;
  border-width: 0;
  outline: none;

  background-color: #f7d736;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  
  margin-top: 0.2rem;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
}

.btn:hover { 
  opacity: 0.93; 
} 

.all_tags{
  margin-right: 0.1rem;
  margin-top: 0.05rem;
  transition: all .2s ease-in-out;
}

.all_tags:hover, .go_back:hover, .github:hover {
  margin-right: 0.1rem;
  margin-top: 0.05rem;
  transform: scale(1.2);
}

/*-------------CONTAINER TAGS--------------*/

.content-filtro{
  display: flex;
  align-items: center;

  width: 100%;
  height: 7%;
 
  border-bottom-width:0.05rem;
  border-style:inset;

  margin-top: 0.1rem;

}

.informe_tags {
  margin-left: 0.4rem;
  font-family: 'Permanent Marker', cursive;
  font-size: small;
}

.div-tags{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;

  margin-top: 0.1rem;
}

.tags{
  margin: 0 0.3rem 0.1rem 0.3rem;

  height: 1.8rem;
  width: 6rem;

  border-radius: 0.4rem;
  border-width: 0.05rem;
  border-style: inset;
  
  color: #ff8c00;
  font-family: 'Permanent Marker', cursive;
  font-size: small;

  background: none;
	cursor: pointer;
	outline: inherit;

  transition: transform .7s ease-in-out;
}

.tags:hover{
  transform: scale(1.1);
}

/*--------------------------------*/

.card-container{
  display: flex;
  flex-wrap: wrap;

  width: 95%;
  height: 60%;
  margin-top: 2rem;
  padding-top: 0.4rem;

  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;

  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);

  border-radius: 0.2rem;

  width: 15%;
  height: 8rem;
  padding: 0.2rem;

  margin: 0 0.7rem;

  justify-content: space-around;

  transition: transform .7s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}


.card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;

  margin-top: 0.1rem;
}

.card-content {
  font-family: 'Permanent Marker', cursive;
  font-size: small;
  color: black;
  
  height: 3rem;
  padding-left: 0.5rem;
  margin-top: 1rem;

  display: flex;
  min-height: 20px;
  outline: 0;

  resize: none;
  overflow: hidden;
}

.card-content, .card-title {
  background: none;
	color: inherit;
	border: none;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

i {
  margin: 0rem 0.4rem;
}

.footer_card{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tag_name{
  font-family: 'Permanent Marker', cursive;
  font-size: x-small;

  padding: 0.15rem 0.15rem;
  border: 0.1rem inset black;
  border-radius: 0.4rem;

  transition: transform .7s ease-in-out;
}

.tag_name:hover{
  transform: rotate(360deg);
}


.edit, .delete {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.edit:hover, .delete:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

/* Novas configurações setadas após apertar o icon editar*/
/* Card de edição */

.overlay {
  display: none;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.508);

}

.over-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
 
  position: relative;
}

.form-edit {
  
  display: flex;
  flex-direction: column;

  width: 22%; 
  height: 30%;

  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);

  border-radius: 0.2rem;
  padding: 0.5rem;

  background-color: white;

}

.form-edit {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}

#id_notEdit{
  display:none;
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3rem;
}

#edit-Title{

  display: flex;
  justify-content: center; 
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  font-size:large;
  border: none;

  height: 2rem;
  width: 35%;

}

#edit-Detalhes{
  display: flex;
  
  font-family: 'Permanent Marker', cursive;
  font-size: small;
  color: #4c4c4c;
 
  border: none;
  height: 3rem;

  margin-left: 0.15rem;
  margin-top: 0.2rem;

}

#edit_tag{
  display: flex;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: small;
  height: 1.5rem;
  color: #ff8c00;
}

#div_atualizar{
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
}
 
#atualizar{

  display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  width: 98%;

  background-color: #32CD32;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  margin-top: 2rem;

}

#atualizar:hover { 
  opacity: 0.93; 
} 

/* Fim de configurações para card de editar*/

.delete, .edit , .close-over, .delete_all, .take_off_filtro, .all_tags {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.delete_all {
  position: fixed;
  right: 0.1rem;
  bottom: 0.5rem;

  margin-bottom: 0.1rem;
  transition: all .2s ease-in-out;
}

.delete_all:hover {
  transform: scale(1.5);
}

/* ----------------- ALL_TAG PAGE ----------------------*/

.instrucoes{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.info_div{
  padding: 2rem 5rem;
  border: 0.05rem outset;
  border-radius: 0.4rem;

  display: flex;
  justify-content: center;
}

.info_text{
  width: 60%;
  text-align: center;
  font-size: smaller;
  color: #4c4c4c;
}

.container-tags{
  display: flex;
  width: 100%;
  height: 50%;

  justify-content: center;
  align-items: center;
}

.back_index{
  position: absolute;
  right: 0.2rem;
}


.go_back {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  
}

.div-tags-telaTags {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
  width: 60%;
  height: 100%;

  margin-top: 2rem;

}

.card_tag {
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;

  width: 7rem;
  height: 4rem;
  padding: 0.2rem;

  margin: 0 0.7rem;
}

.card_tag {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

#pin_push{
  position: absolute;
  top: 0.1rem;
  right: -0.2rem;

  transform: rotate(30deg)
}

.buttons-tags{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  font-family: 'Permanent Marker', cursive;
  font-size: small;
}

/*----------- Notes filtradas ----------*/

.name_tag{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  width: 100%;
  height: 15%;

  font-family: 'Permanent Marker', cursive;
  border-bottom-width:0.05rem;
  border-style:inset;
}
.tag_selecionada{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;

  color: #ff8c00;
  font-size: small;
}

/*--------------------------------------*/

.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ffb6c1;
}

.card-color-4 {
  background-color:  #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}

.card-rotation-1 {
  transform: rotate(-2deg)
}

.card-rotation-2 {
  transform: rotate(3deg)
}

.card-rotation-3 {
  transform: rotate(2deg)
}

.card-rotation-4 {
  transform: rotate(3deg)
}

.card-rotation-5 {
  transform: rotate(-3deg)
}

.card-rotation-6 {
  transform: rotate(3deg)
}

.card-rotation-7 {
  transform: rotate(-2deg)
}

.card-rotation-8 {
  transform: rotate(3deg)
}

.card-rotation-9 {
  transform: rotate(2deg)
}

.card-rotation-10 {
  transform: rotate(-3deg)
}

.card-rotation-11 {
  transform: rotate(3deg)
}