{% extends "notes/base.html" %}
{% load static %}
{% block content %}

<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <p class="subtitle">Como o Post-it, mas com outro verbo</p>
  
  <form action="/all_tags" class="form_tags_all" >
    <div class="tags_header">
      <button class="all_tags" type="submit">
      <i class="material-icons">&#xe98b;</i>
      </button>
      <a href="https://github.com/insper-tecnologias-web/projeto-1b-leticiacb1" class="github">
        <i style="font-size:30px;color: black;" class="fa">&#xf09b;</i>
      </a>
    </div>
  </form>
</div>

<!-- Container de tags e filtro -->
<div class="content-filtro">
  <span class="informe_tags"> Tags: </span>
  <div class="div-tags">
    {% for tag in tags %}
    <form action="/tag_filtrada" method="post">
      {% csrf_token %}
      <input style="display: none;" value="{{tag}}" name="tag_name" > </input>
      <button type="submit" class="tags">
        {{tag.tag_name}}
      </button>
    </form>
    {% endfor %}
  </div>
</div>
<!-- -------------------------- -->

<main class="container">

  <!------------FORMULARIO DE CRIACAO----------------->
    <form method="post" class="form-card" autocomplete="off">
      {% csrf_token %}

      <div class="div_input">
        <i class="material-icons" style="font-size:0.8rem;">&#xe26c;</i>
        <input
          class="form-card-title"
          type="text"
          name="titulo"
          placeholder="Titulo"
          required
        />
      </div>
      
      <div class="div_input">
        <i class="material-icons" style="font-size:0.8rem;">&#xe54e;</i>
        <input
          class="form-card-tag"
          type="text"
          name="tag"
          placeholder="Tag (Opcional)"
        />
      </div>

      <div class="div_input">
        <i class="material-icons" style="font-size:0.8rem;">&#xe0b9;</i>
        <textarea
          class="autoresize"
          name="detalhes"
          placeholder="Digite o conteudo..."
          required
        ></textarea>
      </div>

      <button class="btn" type="submit" name="criar">Criar</button>

    </form>
    <!---------------------------------------------->
  
    <!------------ CARDS ---------------->
  <div class="card-container" id="card-sorted">
    
    {% for note in anotacoes %}
      <form method="post" class="card" action="/deletar">
        {% csrf_token %}

        <!--Content-->
        <input class="card-title" value="{{note.title}}" name="titulo" readonly></input>
        <textarea class="card-content" placeholder="{{note.content}}" value="{{note.content}}" name="detahes" readonly></textarea>
        <input style="display: none;" value="{{note.id}}" name="id" > </input>
        <input style="display: none;" value="{{note.tag}}"name="tag" ></input>
        <!----------->

        <div class="footer_card">
          <div class="tag_name">
            <span>#</span>
            <span>{{note.tag}}</span>
          </div>
          <!--- Botoes Icons -->
          <div class="card-icon">
            <button name="edit" class="edit" type="button" value="{{note.id}}" onclick="update_card(this)">
              <i class="material-icons">&#xe254;</i>
            </button>
            <button name="delete" class='delete' type="submit" value="{{note.id}}">
              <i class="material-icons">&#xe872;</i>
            </button>
          </div>
          <!------------------->
        </div>
      </form>

    {% endfor %}
  </div>
  <!------------------------------------>
</main>

<!-- Botão apagar todas as notes-->
<form method="post" action="/deletar_tudo">
  {% csrf_token %}
  <button name="clear_all" class="delete_all"  type="submit">
    <i class="material-icons" style="font-size:30px;" >&#xe92b;</i>
  </button>
</form>
<!-------------------------------->
  
 <!--Após clicar em editar ativa modal -->
 <div class="overlay">
  <div class="over-content">
    <form method="post" class="form-edit" autocomplete="off" action="atualizar">
      {% csrf_token %}
      
      <!-- Header-->
      <div class="edit-header">
        <input
          class="form-card-title" type="text" name="titulo" placeholder="Titulo" id="edit-Title" required
        />
        <button class="close-over" type="button" onclick="close_update_card(this)">
          <i class="material-icons">&#xe14c;</i>
        </button>
      </div>
      <!----------->

      <!-----------  BODY -------------->

      <input class="form-card-tag" type="text" name="tag"  id = "edit_tag"  readonly/>
      <input type="text" name="detalhes" id="edit-Detalhes" required/>
      <input type="text" name = "id_notEdit" id = "id_notEdit" class = "id_notEdit"/>
      <!------------------------------->

      <!-------BOTAO ATUALIZAR--------->
      <div id = "div_atualizar">
        <button class="btn" type="submit" name="update" id="atualizar">Atualizar</button>
      </div>
      <!------------------------------->

    </form>

  </div>
</div> 
<!-------------------------------->

{% endblock %}