{% extends "notes/base.html" %}
{% load static %}
{% block content %}

<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <p class="subtitle">Como o Post-it, mas com outro verbo</p>
</div>

<main class="container">

  <form method="post" class="form-card" autocomplete="off">
    {% csrf_token %}
    
    <!-- <label for="titulo">Título</label> -->
    <input
      class="form-card-title"
      type="text"
      name="titulo"
      placeholder="Titulo"
    />

    <!-- <label for="tag">Tag</label> -->
    <input
      class="form-card-tag"
      type="text"
      name="tag"
      placeholder="Tag"
    />

    <!-- <label for="detalhes">Detalhes</label> -->
    <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteudo..."
    ></textarea>

    <button class="btn" type="submit" name="criar">Criar</button>

  </form>

</main>

<div class="card-container" id="card-sorted">
  {% block note %} {% endblock %}
</div>

{% endblock %}