{% extends "notes/base.html" %}
{% load static %}
{% block content %}

<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <p class="subtitle" style="font-weight: 600;justify-content: center;align-items: center;">Lista de Tags</p>
  
  <form action="/" class="back_index">
    <button class="go_back" type="submit">
      <i class="material-icons">&#xe15e;</i>
    </button>
  </form>
  
</div>

<main class="container-tags">

    <div class="div-tags-telaTags">
      {% for tag in tags %}
      <form method="post" class="card_tag" action="/tag_filtrada">
        {% csrf_token %}
        <input style="display: none;" value="{{tag}}" name="tag_name" > </input>
        <button type="submit" class="buttons-tags">
            {{tag.tag_name}}
        </button>
      </form>
      {% endfor %}
    </div>
    

</main>

<!-- Botão apagar todas as notes-->
<form method="post" action="/deletar_tudo">
  {% csrf_token %}
  <button name="clear_all" class="delete_all"  type="submit">
    <i class="material-icons" style="font-size:30px;" >&#xe92b;</i>
  </button>
</form>
<!-------------------------------->

{% endblock %}
